.glex{
    background-color: #cbeef0;
    margin-top: 3%;
}

.hlex{
    max-width: 40%;
    height: auto;
}

.mlex{
    margin-top: 25px;
    font-family: Georgia;
    font-size: 30pt;
    line-height: 1;
}

.vlex{
    margin-top: 25px;
    font-family: Georgia;
    font-size: 15pt;
    line-height: 1;
}