.glex{
    background-color: #cbeef0;
    margin-top: 3%
}

.hlex{
    max-width: 40%;
    height: auto;
}

.mlex{
    margin-top: 8%
    font-family: Georgia, serif;
    font-size: 40pt;
    line-height: 1;
}